.HeaderContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #ff742b;
    padding: 8px;
}
.LogoContainer {
    display: flex;
    align-items: center;
}
.LogoImg {
    width: 48px;
    height: 48px;
    margin-right: 8px;
}
.LogoText {
    font-size: 18px;
    line-height: 1;
}
.SearchTag {
    width: 80%;
}