input {
    border-radius: 0;
    border: none;
    height: 42px;
    width: 100%;
    box-shadow: none;
    padding: 16px 20px;
    font-weight: 500;
    font-size: 17px;
    background-color: #fff;
    color: rgba(0,0,0,.75);
}

input:focus {
    box-shadow: none;
    outline: none;
}

input::placeholder {
    font-weight: 500;
    font-size: 17px;
    color: rgba(0,0,0,.75);
}

.SearchIcon {
    color: #ff742b;
    font-size: 24px;
    pointer-events: none;
}