* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.4;
}

.App {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 20px 16px;
  background-color: #f6f6ef;
  min-width: calc(100vw - 250px);
  min-height: calc(100vh - 120px)
}

.Loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  align-self: center;
  margin-top: 100px;
}

.LoadingText {
  font-weight: bold;
  font-size: 20px;
  color: #ff742b;
  margin: 20px 0px;
  text-align: center;
  letter-spacing: 1.1px;
}

.Spinner {
  width: 100px;
  height: 100px;
  border: 5px solid #ff742b ;
  border-color: #ffceb4 #f88649;
  border-radius: 100%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}